<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="lib/uikit/css/uikit.min.css">
  </head>
  <body>
    <div class="wraper" id="app" v-on:mousemove="hundlerMousemove">
      <div class="container" @scroll="hundlerContainerScroll" v-on:wheel="hundlerWheel">
        <div class="line _top" id="label_top" v-bind:style="{ top: labelPosition.top + 'px',}">
          <div class="line_item" v-for="(row, index) in matrix[0]">
            {{index + 1}}
          </div>
        </div>
        <div class="line _side" id="label_left" v-bind:style="{ left: labelPosition.left + 'px',}">
          <div class="line_item" v-for="(row, index) in matrix">
            {{index + 1}}
          </div>
        </div>
        <div class="field" @click="hundlerEditGame">
          <div class="row" v-for="row in matrix">
            <div class="cell"
                 v-bind:class="{ active: cell.life, disactive: !cell.life, visual: cell.visual }"
                 v-for="cell in row">
            </div>
          </div>
        </div>
      </div>
      <fieldset class="controls" v-bind:class="{mobile_visible: toucheDevice && menuMobile, mobile_hide: toucheDevice && !menuMobile}">
        <button @click="hundlerCloseMenu">X</button>
        <label v-bind:class="{display_none: toucheDevice}">
          <span>Зупинити</span>
          <input class="uk-checkbox" type="checkbox" checked v-model="stop">
        </label>

        <div id="for_disable"
             v-bind:class="{ disable: !stop }">
          <label>
            <span>Ширина</span>
            <input type="number"
                   name="width"
                   class="uk-input"
                   v-bind:value="width"
                   v-bind="{ readonly: !stop }"
                   v-on:change="hundlerChangeWidth">
          </label>

          <label>
            <span>Висота</span>
            <input type="number"
                   name="height"
                   class="uk-input"
                   v-bind:value="height"
                   v-bind="{ readonly: !stop }"
                   v-on:change="hundlerChangeHeight">
          </label>

          <label v-bind:class="{display_none: toucheDevice}">
            <span>Один крок</span>
            <input type="button"
                   class="uk-button"
                   name="one_step"
                   value="+1"
                   v-on:click="hundlerOneStep">
          </label>
          <label>
            <span>Відключити межі</span>
            <input type="checkbox"
                   name="unlim"
                   class="uk-checkbox"
                   v-model="unlim">
          </label>
          <label>
            <span>Вибрати патерн</span>
            <select name="pattern" class="uk-select"
                    v-on:change="hundlerPattern"
            >
              <option value="0">Пустота</option>
              <option value="1">Кубики</option>
              <option value="2">Горизонтальні лінії</option>
              <option value="3">Вертикальні лінії</option>
              <option value="4">Шахматний порядок</option>
            </select>
          </label>
          <label>
            <span>Зміщення патерна по горизонталі</span>
            <input type="number"
                   name="pat_x_shift"
                   v-model="pat_x_shift"
                   class="uk-input"
                   v-on:change="hundlerPat_X_Shift">
          </label>
          <label>
            <span>Зміщення патерна по вертикалі</span>
            <input type="number"
                   name="pat_y_shift"
                   v-model="pat_y_shift"
                   class="uk-input"
                   v-on:change="hundlerPat_Y_Shift">
          </label>


          <label>
            <span>Вибрати фігуру</span>
            <select name="figure" class="uk-select"
                    v-on:change="hundlerFigure"
            >
              <option value="0">Кубик</option>
              <option value="1">Бомба</option>
              <option value="2">Планер</option>
              <option value="3">Вулик</option>
              <option value="4">Тетраміно</option>
              <option value="5">Каравай</option>
              <option value="6">Колодізь</option>
              <option value="7">Ящик</option>
              <option value="8">Змія</option>
              <option value="9">Баржа</option>
              <option value="10">Лодка</option>
              <option value="11">Корабль</option>
              <option value="12">Довга баржа</option>
              <option value="13">Довга лодка</option>
              <option value="14">Довга корабль</option>

              <option value="15">Вертушка</option>
              <option value="16">Жаба</option>
              <option value="17">Бакен</option>
              <option value="18">Часи</option>

              <option value="19">Малий космічний корабль</option>
              <option value="20">Середній космічний корабль</option>
              <option value="21">Великий космічний корабль</option>
              <option value="22">Пульсар</option>
              <option value="23">Планерна рушниця</option>
            </select>
          </label>
          <label>
            <span>Розмістити фігуру</span>
            <input type="checkbox"
                   name="stop"
                   value="checked"
                   class="uk-checkbox"
                   v-model="moveFigureStatus">
          </label>
        </div>
      </fieldset>
      <fieldset class="mobile_controls" v-bind:class="{display_none: !toucheDevice}">
        <div class="">
          <label type="button" class="uk-button mob_btn play display_none" name="play">
            <input type="checkbox" class="display_none" v-model="menuMobile">
            <span class="_true"></span>
            <span class="_false"></span>
          </label>
          <label type="button" class="uk-button mob_btn play" name="play">
            <input type="checkbox" class="display_none" v-model="stop">
            <span class="_true"></span>
            <span class="_false"></span>
          </label>
          <label type="button" class="uk-button mob_btn edit" name="play">
            <input type="checkbox" class="display_none" v-model="wayEditable">
            <span class="_true"></span>
            <span class="_false"></span>
          </label>
          <button name="zoom_in">
          </button>
        </div>
      </fieldset>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
