
html, body {
  height: 100%;
}

body {
  margin: 0;
}

.display_none {
  display: none !important;
}

.row {
  width: auto;
  white-space: nowrap;

  .cell {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    &.active {
      background-color: black;

      &.visual {
        background-color: #555;
      }
    }

    &.disactive {
      background-color: white;

      &.visual {
        background-color: #aaa;
      }
    }

  }
}

.field {
  position: relative;
  top:  12px;
  left: 12px;
  font-size: 0;
  width: calc(100% - 12px);
  height: auto;
}

.wraper {
  display: flex;
  overflow: hidden;
  height: 100%;

  .controls {
    width: 300px;
    flex: 0 0 auto;
    align-self: flex-start;
    margin: 0;
    box-sizing: border-box;
    overflow: scroll;
    background-color: white;
    height:100%;

    #for_disable {
      position: relative;

      &.disable::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width:  100%;
        height: 100%;
        display: block;
        z-index: 1;
        background-color: white;
        opacity: 0.5;
      }
    }

    label {
      display: block;
      margin-bottom: 40px;
    }

    &.mobile_hide {
      position: fixed;
      height: 100%;
      top: 0;
      right: -300px;
      z-index: 20;
    }

    &.mobile_visible {
      position: fixed;
      height: 100%;
      top: 0;
      right: 0px;
      z-index: 20;
    }
  }

  .container {
    flex: 1 0;
    overflow: auto;
    height: 100vh;
    position: relative;
  }
}

.line {
  position: absolute;
  z-index: 1;
  background-color: white;

  &._top {
    font-size: 0px;
    white-space: nowrap;
    left: 12px;

    .line_item {
      display: inline-block;
    }
  }

  &._side {
    font-size: 0px;
    top:  12px;

    .line_item {
      display: block;
    }
  }

  .line_item {
    font-size: 8px;
    width: 10px;
    height: 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #333;
  }
}

.mobile_controls {
  border: none;
  width: 60px;
  height: 100%;
  background-color: tomato;
  // position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.mob_btn:not(#ForPriority) {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  padding: 4px;

  span {
    width: 100%;
    height: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.play {
    ._true {
      background-image: url(../icons/play.svg);
    }

    ._false {
      background-image: url(../icons/stop.svg);
    }

    input[type=checkbox]:not(:checked) ~ ._true {
      display: none;
    }

    input[type=checkbox]:checked ~ ._false {
      display: none;
    }
  }

  &.edit {
    ._true {
      background-image: url(../icons/erase.svg);
    }

    ._false {
      background-image: url(../icons/set.svg);
    }

    input[type=checkbox]:not(:checked) ~ ._true {
      display: none;
    }

    input[type=checkbox]:checked ~ ._false {
      display: none;
    }
  }



}
